body {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-image: url("https://static3.srcdn.com/wordpress/wp-content/uploads/2019/11/Atari-Breakout.jpg");
  background-size: cover;
  
}

header {
  text-align: center;
  margin-top: 0px;
  padding: 25px;
  padding-bottom: 135px;
}

section {
  display: flex;
  justify-content: space-around;
  background-color: grey;
  width: 400px;
  margin: auto;
  margin-top: 125px;
  margin-bottom: 125px;
}

h1 {
  background-color: rgba(34, 0, 255, 0.5);
  margin: 0px;
}

h2 {
  background-color: rgba(34, 0, 255, 0.5);
  margin: 0px;
}

a {
  margin: 30px;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.easy {
  background-color: green;
}

.medium {
  background-color: yellow;
}

.hard {
  background-color: red;
}